<div class="auth-form-container">
    <button class="close-btn">&times;</button>
    <form class="auth-form" id="login-form">
        <h2>{{Title}}</h2>
        {{{loginInputHtml}}}
        {{{passwordInputHtml}}}
        {{{submitButtonHtml}}}
        <div class="switch-link">
            Еще нет аккаунта? <a href="/register">Зарегистрироваться</a>
        </div>
    </form>
</div>