<div class="main-content-wrapper">
    <div class="text-main"><h1>Ваша реклама</h1></div>
    
    <div class="welcome-banner">
        <h1>Добро пожаловать в <span>Adnet!</span></h1>
    </div>
    <div id="ads-list" class="promo-cards-container"></div>

        {{!-- <div class="promo-card">
            <div class="card-header">
                <div class="settings-icons">⚙</div>
                <div class="close-icon">✖</div>
            </div>
            <div class="card-content mobile-promo">
                <img src="https://i.imgur.com/exampleSim.png" alt="SIM Card" class="promo-image">
                <div class="promo-text">
                    <h2>Хватит на всё с Т-Мобайлом</h2>
                    <p>Перенесите свой номер в Т-Мобайл до 31 августа и получите 50 ГБ и безлимитные минуты за 390 ₽ в месяц</p>
                    <button class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="promo-card">
            <div class="card-header">
                <div class="settings-icons">⚙</div>
                <div class="close-icon">✖</div>
            </div>
            <div class="card-content investment-promo">
                 <img src="https://i.imgur.com/exampleBriefcase.png" alt="Briefcase" class="promo-image">
                 <div class="promo-text">
                    <h2>Т-Инвестиции</h2>
                    <p>Понятные тарифы и удобное приложение</p>
                    <button class="btn btn-secondary">Стать инвестором</button>
                </div>
            </div>
        </div> --}}
</div>