<div class="main-content-wrapper">
    <div class="text-main"><h1>Ваша реклама</h1></div>
    
    <div class="welcome-banner">
        <h1>Добро пожаловать в <span>Adnet!</span></h1>
    </div>
    <div id="ads-list" class="promo-cards-container"></div>
</div>