<div class="main-content-wrapper">
    <div class="text-main"><h1>Ваша реклама</h1></div>
    
    <div class="welcome-banner">
        <h1>Добро пожаловать в <span>Adnet!</span></h1>
    </div>
        <div class="promo-card">
            <div class="card-header">
                <div class="settings-icons">⚙</div>
                <div class="close-icon">✖</div>
            </div>
            <div class="card-content mobile-promo">
                <img src="../../../public/assets/img/SIM.png" alt="SIM Card" class="promo-image">
                <div class="promo-text">
                    <h2>Хватит на всё с Т-Мобайлом</h2>
                    <p>Перенесите свой номер в Т-Мобайл до 31 августа и получите 50 ГБ и безлимитные минуты за 390 ₽ в месяц</p>
                    <button class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="promo-card">
            <div class="card-header">
                <div class="settings-icons">⚙</div>
                <div class="close-icon">✖</div>
            </div>
            <div class="card-content investment-promo">
                 <img src="../../../public/assets/img/invest.png" alt="Инвестиции" class="promo-image">
                 <div class="promo-text">
                    <h2>Т-Инвестиции</h2>
                    <p>Понятные тарифы и удобное приложение</p>
                    <button class="btn btn-secondary">Стать инвестором</button>
                </div>
            </div>
            
    </div>
    <div class="promo-card">
            <div class="card-header">
                <div class="settings-icons">⚙</div>
                <div class="close-icon">✖</div>
            </div>
            <div class="card-content investment-promo">
                 <img src="../../../public/assets/img/account.png" alt="" class="promo-image">
                 <div class="promo-text">
                    <h2>Откройте накопительный счет — получайте до 11% к сбережениям</h2>
                    <p>Вносите и выводите деньги в любое время. Без потери процентов</p>
                    <button class="btn btn-secondary">Октрыть накопительный счет</button>
                </div>
            </div>
            
    </div>
</div>