<div class="auth__container">
    <button class="close-btn">&times;</button>
    <form class="auth__form" id="login-form">
        <h2>{{Title}}</h2>
        {{{loginInputHtml}}}
        {{{passwordInputHtml}}}
        {{{submitButtonHtml}}}
        <div class="auth__switch-link">
           <p>Нет аккаунта? <button type="button" id="switch-to-register-btn" class="link-btn">Зарегистрироваться</button></p>
        </div>
    </form>
</div>