<div class="footer__content">
    <div class="footer__top">
        <div class="footer__logo">
            <img src="public/assets/logo.svg" alt="Ad.net logo" class="footer__logo-img" />
            <span class="footer__logo-divider"></span>
            <span class="footer__logo-text">Ad.net</span>
        </div>

        <span>Ru</span>
    </div>
    <div class="footer__links">
        <div class="footer__links-column">
            <h4 class="footer__links-title">О компании</h4>
            <p class="footer__links-text">Ad.net — единая платформа для продвижения бизнеса в рекламной сети. Запускайте кампании в рекламном кабинете и взаимодействуйте с пользователями соцсетей, сайтов, мобильных приложений и медиапроектов, превращая их в ваших клиентов.</p>
        </div>
        <div class="footer__links-column">
            <h4 class="footer__links-title">Клиентам</h4>
            <a href="#" class="footer__links-item">Как начать</a>
            <a href="#" class="footer__links-item">Тарифы</a>
            <a href="#" class="footer__links-item">Контакты</a>
        </div>
        <div class="footer__links-column">
            <h4 class="footer__links-title">Проекты</h4>
            <a href="#" class="footer__links-item">Примеры компаний</a>
            <a href="#" class="footer__links-item">Статистика</a>
            <a href="#" class="footer__links-item">Планы развития</a>
        </div>
    </div>
    <div class="footer__bottom">
        <span>© Ad.net 2025 | Все права защищены</span>
    </div>
</div>