<div class="footer-content">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="" alt="">
            <span>Ad.net</span>
        </div>
        <div class="lang-switcher">Ru</div>
    </div>
    <div class="footer-links">
        <div class="links-column">
            <h4>О компании</h4>
            <p>VK Реклама — единая платформа для продвижения бизнеса на проектах VK и в рекламной сети. Запускайте кампании в рекламном кабинете и взаимодействуйте с пользователями соцсетей, сайтов, мобильных приложений и медиапроектов, превращая их в ваших клиентов.</p>
        </div>
        <div class="links-column">
            <h4>Клиентам</h4>
            <a href="#">Обновления</a>
            <a href="#">Справка</a>
            <a href="#">Документ</a>
        </div>
        <div class="links-column">
            <h4>Проекты</h4>
            <a href="#">Обновления</a>
            <a href="#">Справка</a>
            <a href="#">Документ</a>
            <a href="#">Обновления</a>
            <a href="#">Справка</a>
        </div>
         <div class="links-column">
            <h4>Экспертам</h4>
            <a href="#">Справка</a>
            <a href="#">Документ</a>
        </div>
    </div>
    <div class="footer-bottom">
        <span>© Ad.net 2025 Все права защищены</span>
        <a href="#">Политика конфиденциальности</a>
        <div class="social-icons">
            <a href="#" class="icon-vk"></a>
            <a href="#" class="icon-tg"></a>
        </div>
    </div>
</div>